     <div class="container">
          <div class="row">
               <div class="col-md-12">
                    <h1 class="head">About DePauw Intramurals</h1>
               </div>
          </div>
          <div class="row">
               <div class="col-md-12">
                    <br />
                    <br />
                    <h1 class="image" text-align:center><%= image_tag "depauwAthletics.png", :width => "500px", :height => "auto" %></h1>
               </div>
          </div>
     <br />
     <div class="row">
          <div class="col-md-6">
         <h3 class="head2">Welcome to DePauw University Intramurals</h3>
         <p class="para">DePauw University prides itself on students' involvement with intramural athletics. This is a great way for students to try new things and meet new people. It is also a great way for them to stay active without the commitment of varsity sports. Ther are a number of options of teams students can join like, basketball, tennis, ultimate frisbee, and volleyball to name a few.</p>
         </div>
         <div class="col-md-6">
         <h3 class="head2">About this website</h3>
         <p class="para">To track new score, view the <b>Add Records</b> tab and complete all the fields. To view the winners of past intramurals, visit the <b>History</b> tab</p>
         </div>
         </div>
     <br />
    <h1 class="imageHome"><%= image_tag "sports.jpg", :width => "500px", :height => "auto" %></h1>
    <h1 class="imageHome2"><%= image_tag "team4.JPG", :width => "500px", :height => "auto" %></h1>
    </div>