#container {
    min-height: 100%;
    position: relative;
    padding-bottom: 40px;
}


/* Header */

#header {
    color: darkblue;
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    list-style: none;
    display: inline;
    text-align: center;
    background: #FDFDFD;
}

#header li {
    display: inline;
    margin-right: 0.5em;
    padding-right: 0.75em;
    border-right: 1px solid #99C;
    font-weight: bold;
    background-color: grey;
    color: gold;
}

#header ul {
    background-color: grey;
    padding: 1.5em;
    margin: 0;
}

#header li.last {
    border-right: 0;
}


/* Color of links in header */

a:link {
    color: gold;
}

a:visited {
    color: gold;
}

a:hover {
    color: #DFDFDF;
}


/* Banner */

#banner {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 93%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
    /*border: 2px solid darkblue;*/
    text-align: center;
    /*background-color: #ECEDF3;*/
    color: gold;
    font-family: "helvetica neue";
}

#header h1 {
    color: black;
}


/* Body */

body {
    position: relative;
    margin: 0;
    padding-bottom: 15rem;
    min-height: 100%;
}

#abbeyimage {
    float: left;
    margin: 2em;
    width: 40%;
    padding-bottom: 30em;
}

#floatleft {
    float: left;
}

#rightofabbey {
    margin-top: 1em;
    font-family: "helvetica neue";
}

.blue {
    color: darkblue;
}

.grey {
    color: #646779;
}


/* About */

#aboutpg {
    text-align: center;
    color: #646779;
    font-family: "helvetica neue";
    padding: 5em;
    list-style: none;
    display: inline;
    margin: 5em;
}

#aboutcont {
    text-align: center;
    margin-top: 1em;
    margin-right: 5em;
    margin-left: 5em;
    margin-bottom: 1em;
}

.statisticsul {
    padding: 0;
    margin: 0;
}

.statisticsli {
    display: inline;
    margin-right: 0.5em;
    padding-right: 0.75em;
    border-right: 1px solid #99C;
    font-weight: bold;
    color: #646779;
}

.statisticslilast {
    display: inline;
    margin-right: 0.5em;
    padding-right: 0.75em;
    border-right: 0;
    font-weight: bold;
    color: #646779;
}

.head{
    color: black;
    margin-left: 30px;
}
.image{
    margin-left: 25%;

}
.head2{
    color: gray;
    margin-left: 30px;
}
.para{
    margin-left: 5%;
    margin-right: 5%;
    background-color: gold;
    padding: 2em;
    color: gray;
}

.col1{
    padding: .5em;
}
.tableStyle{
    float:left;
    padding-bottom: 4em;
    margin-bottom: 150px;
}
.historyImage{
    float: right;
    margin: 0, 0, 10px, 10px;
    margin-right: 2.5em;
}
.historyImage2{
    float: right;
    margin: 0, 0, 10px, 10px;
    margin-right: 2.3em;
    margin-bottom: 4em;
}
.imageHome{
    float: left;
    margin-left: 2em;
    margin-bottom: 4em;
}
.imageHome2{
    float: right;
    margin-right: 2em;
    margin-bottom: 4em;
}
/* Footer */

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 16px;
    list-style: none;
    display: inline;
    text-align: center;
    color: black;
    background: #FDFDFD;
}
